<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "JaRS_Live" only when the "Match" locator 
    finds an attribute "name" that has a value of "JaRSDatabase".
    -->
  <connectionStrings>
    <add name="JaRSDatabase"
      connectionString="data source=.\sqlexpress;initial catalog=JaRS_Dev;integrated security=True;MultipleActiveResultSets=True;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="AUTH_DB"
      connectionString="data source=.\sqlExpress;initial catalog=Jars_Dev;integrated security=True;MultipleActiveResultSets=True;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!-- other azure ad settings-->
    <!--
    <add key="Tenant" value="yoursite.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Audience" value="https://yoursite.com/jars-demo-services" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    -->
    <!-- JWT authentication-->
    <add key="jwt.HashAlgorithm" value="HS256"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="jwt.AuthKeyBase64" value="{base 64 encoded string value}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- AadJWT -->
    <add key="aadjwt:FedKeyXmlUrl" value="https://login.windows.net/yoursite.com/federationmetadata/2007-06/federationmetadata.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Microsof authentiucation-->
    <add key="oauth.microsoftgraph.AppId" value="{your app id}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth.microsoftgraph.AppSecret" value="{your app secret}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth.microsoftgraph.SavePhoto" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth.microsoftgraph.SavePhotoSize" value="32x32" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>