<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net48" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.2.26" targetFramework="net461" developmentDependency="true" />
  <package id="NHibernate" version="5.1.6" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="net48" />
  <package id="Remotion.Linq.EagerFetching" version="2.1.0" targetFramework="net48" />
  <package id="ServiceStack" version="5.9.2" targetFramework="net48" />
  <package id="ServiceStack.Api.OpenApi" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Client" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Common" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.OrmLite" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.OrmLite.SqlServer" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Redis" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Server" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Text" version="5.8.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
</packages>