<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--This must be a t the top of the config file-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="JaRSDatabase" connectionString=""/>
    <add name="AUTH_DB" connectionString=""/>
    <add name="DummyDb" connectionString="data source=.\sqlexpress;initial catalog=JaRS_Dev;integrated security=True;MultipleActiveResultSets=True;"/>
    <add name="BOSDb" connectionString="data source=.\sqlExpress;initial catalog=Jars_Dev;integrated security=True;MultipleActiveResultSets=True;" />
    <!--
    <add name="ExtDb" connectionString="" />
    <add name="ExtTest" connectionString="data source=.\sqlExpress;initial catalog=Ext_Test;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="ExtLive" connectionString="data source=.\sqlExpress;initial catalog=Ext_Live;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="QLDb" connectionString="data source=.\sqlexpress;initial catalog=JAMS_QL_EXT;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="QLDev" connectionString="data source=.\sqlexpress;initial catalog=QL_Dev;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="QLTest" connectionString="data source=.\sqlExpress;initial catalog=QL_Test;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="QLLive" connectionString="data source=.\sqlExpress;initial catalog=QL_Live;integrated security=True;MultipleActiveResultSets=True;" />
    -->
  </connectionStrings>
  <appSettings>
    <!---Service stack key-->
    <add key="UseWebPath" value="false"/>
    <!--<add key="AppState" value="test"/>
    <add key="AppState" value="live"/>-->
    <!---->
    <add key="RemoteServiceUrl" value=""/>
    <add key="RemoteServiceUrl_SSL" value=""/>
    <add key="RemoteAuthServiceUrl" value=""/>
    <add key="RemoteAuthServiceUrl_SSL" value=""/>

    <!-- other azure ad settings-->
    <!--
    <add key="Tenant" value="[tenant value as described in azure] usually something like yourcompany.com"/>
    <add key="Audience" value="[values as described by oauth or azure could be something like https://yourcompany.com/jars-services" />
    -->

    <!--JWT (https://docs.servicestack.net/jwt-authprovider#jwt-signature)-->
    <add key="jwt.HashAlgorithm" value="[The hash algorithm HM256 is default]"/>
    <add key="jwt.AuthKeyBase64" value="[The key that can be generated by AesUtils.CreateKey() or see the  documentation a valid base64 value %4==0]]"/>

    <!-- AadJWT -When using Azure and Microsoft.Identity.Client to authnticate the client use -->
    <!--
    <add key="aadjwt:FedKeyXmlUrl" value="[Enter the federated url where the public xml keys are stored for azure i.e.] https://login.windows.net/[tenantId]/federationmetadata/2007-06/federationmetadata.xml"/>
    -->
    <!--Microsof graph authentiucation-->
    <add key="oauth.microsoftgraph.AppId" value="[Application ID used for authentication]"/>
    <add key="oauth.microsoftgraph.AppSecret" value="[a client secret created in azure portal]"/>
    <add key="oauth.microsoftgraph.SavePhoto" value="true"/>
    <add key="oauth.microsoftgraph.SavePhotoSize" value="32x32"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
    <!-- this enables windows authentication-->
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!---->
  </system.web>

  <log4net>
    <root>
      <level value="All"/>
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="console"/>
      <appender-ref ref="file"/>
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="JarsErrorLog.log"/>
      <encoding value="utf-8"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>
