<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UseSSL" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteServiceUrl" value="https://jars.yoursite.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteServiceUrl_SSL" value="https://jars.yoursite.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteAuthServiceUrl" value="https://jarsauth.yoursite.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteAuthServiceUrl_SSL" value="https://jarsauth.yoursite.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="AppState" value="LIVE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuthProviders" value="credentials,aad" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultAuthProvider" value="aad" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--for use with songle sign on azure authentication-->
    <add key="aad:clientId" value="{your app id}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="aad:tenantId" value="yoursite.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="aad:scopes" value="user.read" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="aad:aadInstance" value="https://login.microsoftonline.com/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="ida:RedirectUri" value="https://jarshost.azurewebsites.net/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="jars:JaRSResourceId" value="https://yoursite.com/jars-demo-services"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="jars:JaRSBaseAddress" value="https://jarshost.azurewebsites.net/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
  </appSettings>
</configuration>