<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--Console-->
    <add key="UseSSL" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteServiceUrl" value="http://localhost:3022/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteServiceUrl_SSL" value="https://localhost:44322/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteAuthServiceUrl" value="http://localhost:3020/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteAuthServiceUrl_SSL" value="https://localhost:44320/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--IIS-->
    <!--
    <add key="RemoteServiceUrl" value="http://localhost/JarsHost/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteServiceUrl_SSL" value="https://localhost/JarsHost/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteAuthServiceUrl" value="http://localhost/JarsAuth/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteAuthServiceUrl_SSL" value="https://localhost/JarsAuth/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    -->
    <!--AZURE-->
    <!--<add key="RemoteServiceUrl" value="https://jarshost.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteServiceUrl_SSL" value="https://jarshost.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteAuthServiceUrl" value="https://jarsauth.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteAuthServiceUrl_SSL" value="https://jarsauth.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    
    <add key="AppState" value="DEBUG" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuthProviders" value="credentials,aad" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultAuthProvider" value="aad" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--for use with songle sign on azure authentication-->
    <add key="aad:clientId" value="{your client id}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="aad:tenantId" value="{your tenant id or url}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="aad:scopes" value="user.read" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="aad:aadInstance" value="https://login.microsoftonline.com/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="ida:RedirectUri" value="https://jarshost.azurewebsites.net/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="jars:JaRSResourceId" value="https://yoursite.com/jars-demo-services"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="jars:JaRSBaseAddress" value="https://jarshost.azurewebsites.net/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->

  </appSettings>
</configuration>