<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--This must be a t the top of the config file-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Seven Classic</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <appSettings>
    <add key="AppState" value=""/>
    <add key="UseWebPath" value="false"/>
    <add key="RemoteServiceUrl" value=""/>
    <add key="RemoteAuthServiceUrl" value=""/>
    <!--SSL on localhost is reserved between 44300 and 44399-->
    <add key="UseSSL" value="true"/>
    <add key="RemoteServiceUrl_SSL" value=""/>
    <add key="RemoteAuthServiceUrl_SSL" value=""/>

    <!-- the names can be seen at https://docs.servicestack.net/authentication-and-authorization#credentials-auth-providers -->
    <add key="AuthProviders" value="[a comma seperated list of providers as described in ServiceStack documentation i.e. credentials,microsoftgraph,google]"/>
    <add key="DefaultAuthProvider" value="[specify the default auth provider i.e. 'aad' will always try azure active directory first]"/>

    <!--for use with single sign on azure authentication-->
    <add key="aad:clientId" value="[Enter client ID as obtained from Azure Portal, e.g. 88888ka8-a86f-43k8-8d43-2f88x58a111g]"/>
    <add key="aad:tenantId" value="[Enter tenant (azure active directory) name, e.g. contoso.onmicrosoft.com]"/>
    <add key="aad:aadInstance" value="https://login.microsoftonline.com/"/>
    <add key="aad:scopes" value="[Enter scopes in comma seperated manner i.e. 'user.read,email,storage']"/>
    <!--<add key="ida:RedirectUri" value="[Enter redirect URI as entered in Azure Portal, e.g. http://jarsclient.azurewebsites.net or https://localhost:54321]" />
    <add key="jars:JaRSResourceId" value="[Enter App ID URI of JarsService, e.g. https://contoso.onmicrosoft.com/jars-services]" />
    <add key="jars:JaRSBaseAddress" value="[Base url address of Service e.g. https://localhost:54321]" />-->
    <!--auth providers to enable for the client-->

  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <log4net>
    <root>
      <level value="All"/>
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="console"/>
      <appender-ref ref="file"/>
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="JarsErrorLog.log"/>
      <encoding value="utf-8"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n"/>
      </layout>
    </appender>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
