<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="JaRSDatabase"
        connectionString="Data Source=.\sqlexpress;initial catalog=JaRS_Dev;integrated security=True;MultipleActiveResultSets=True;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="AUTH_DB"
        connectionString="Data Source=.\sqlExpress;initial catalog=Jars_Dev;integrated security=True;MultipleActiveResultSets=True;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <appSettings>
    <!--<add key="RemoteServiceUrl" value="http://localhost:3022/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteServiceUrl_SSL" value="https://localhost:44322/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="RemoteAuthServiceUrl" value="http://localhost:3020/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemoteAuthServiceUrl_SSL" value="https://localhost:44320/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- other azure ad settings-->
    <!--
    <add key="Tenant" value="yoursite.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Audience" value="https://yoursite.com/jars-demo-services" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    -->
    
    <!--  JWT (https://docs.servicestack.net/jwt-authprovider#jwt-signature)  -->
    <add key="jwt.HashAlgorithm" value="HS256"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="jwt.AuthKeyBase64" value="SmFyc0RlbW8="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- When using Azure and Microsoft.Identity.Client to authnticate the client use -->
    <!--
    <add key="jwt:HashAlgorithm" value="RS256" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="aadjwt:FedKeyXmlUrl" value="https://login.windows.net/yoursite.com/federationmetadata/2007-06/federationmetadata.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    -->
    <!--Microsof authentiucation-->
    <add key="oauth.microsoftgraph.AppId" value="{your app id}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth.microsoftgraph.AppSecret" value="{your app secret}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth.microsoftgraph.SavePhoto" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth.microsoftgraph.SavePhotoSize" value="32x32" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>