<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JaRSDatabase" connectionString="data source=.\sqlexpress;initial catalog=JaRS_Dev;integrated security=True;MultipleActiveResultSets=True;"/>
    <add name="AUTH_DB" connectionString="data source=.\sqlexpress;initial catalog=JaRS_Dev;integrated security=True;MultipleActiveResultSets=True;"/>
  </connectionStrings>
  <appSettings>
    <!---Service stack key-->
    <add key="UseWebPath" value="false"/>
    <add key="UseSSL" value="true"/>

  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
