<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>   
    <add name="BOSDb" connectionString="Server=tcp:capcodbserver.database.windows.net,1433;Initial Catalog=JaRSDemo_db;Persist Security Info=False;User ID=jars_admin_login@capcodbserver.database.windows.net;Password=Adm1n1str@t0r;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
  <!--<appSettings>
    --><!---Service stack key--><!--
    <add key="UseWebPath" value="false"/>
    <add key="UseSSL" value="true"/>
  </appSettings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
