<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="JaRSDev" connectionString="data source=.\sqlexpress;initial catalog=JaRS_Dev;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="JaRSTest" connectionString="data source=.\sqlExpress;initial catalog=JaRS_Test;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="JaRSLive" connectionString="data source=.\sqlExpress;initial catalog=JaRS_Live;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="ExtDev" connectionString="data source=.\sqlexpress;initial catalog=Ext_Dev;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="ExtTest" connectionString="data source=.\sqlExpress;initial catalog=Ext_Test;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="ExtLive" connectionString="data source=.\sqlExpress;initial catalog=Ext_Live;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="QLDev" connectionString="data source=.\sqlexpress;initial catalog=QL_Dev;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="QLTest" connectionString="data source=.\sqlExpress;initial catalog=QL_Test;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="QLLive" connectionString="data source=.\sqlExpress;initial catalog=QL_Live;integrated security=True;MultipleActiveResultSets=True;" />-->
    <add name="JaRSDatabase" connectionString=""/>
    <add name="ExtDb" connectionString=""/>
    <add name="QLDb" connectionString=""/>
    <add name="DummyDb" connectionString=""/>
    <add name="BOSDb"  connectionString=""/>

  </connectionStrings>
  <appSettings>
    <!--<add key="AppState" value="dev" />-->
    <add key="UseWebPath" value="false"/>
    <!--<"test"/"live"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
