<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Console-->
    <add key="UseSSL" value="True"/>
    <add key="RemoteServiceUrl" value="http://localhost:3022/"/>
    <add key="RemoteServiceUrl_SSL" value="https://localhost:44322/"/>
    <add key="RemoteAuthServiceUrl" value="http://localhost:3020/"/>
    <add key="RemoteAuthServiceUrl_SSL" value="https://localhost:44320/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
