<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net48" />
  <package id="IdentityModel" version="4.1.1" targetFramework="net461" requireReinstallation="true" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.6.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.6.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.2.26" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NHibernate" version="5.1.6" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="net48" />
  <package id="Remotion.Linq.EagerFetching" version="2.1.0" targetFramework="net48" />
  <package id="ServiceStack" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Api.OpenApi" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Authentication.IdentityServer" version="5.0.1" targetFramework="net461" requireReinstallation="true" />
  <package id="ServiceStack.Client" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Common" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.OrmLite" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.OrmLite.SqlServer" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Redis" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Server" version="5.8.0" targetFramework="net48" />
  <package id="ServiceStack.Text" version="5.8.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
</packages>