<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JARS.Test.Jars.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      
    </configSections>
  <appSettings>
    <add key="UseWebPath" value="False"/>
    <add key="UseSSL" value="true"/>
  </appSettings>
    <userSettings>
        <JARS.Test.Jars.Core.Properties.Settings>
            <setting name="UseWebPath" serializeAs="String">
                <value>False</value>
            </setting>
        </JARS.Test.Jars.Core.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
