<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UseWebPath" value="False"/>
    <add key="UseSSL" value="True"/>
    <add key="RemoteServiceUrl" value="http://localhost:3022/"/>
    <add key="RemoteServiceUrl_SSL" value="https://localhost:44322/"/>
    <add key="RemoteAuthServiceUrl" value="http://localhost:3020/"/>
    <add key="RemoteAuthServiceUrl_SSL" value="https://localhost:44320/"/>
    <add key="app:clientId" value="{app guid on azure}"/>
    <add key="app:tenantId" value="{yoursite.com}"/>
    <add key="app:scopes" value="user.read"/>
    <add key="app:aadInstance" value="https://login.microsoftonline.com/"/>
    <add key="AuthProviders" value="credentials"/>
    <!--<add key="AuthProviders" value="credentials,aad,google,github,facebook,twitter,openid"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
