<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JaRSDatabase" connectionString=""/>
    <add name="AUTH_DB" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <add key="UseWebPath" value="false"/>      

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
