<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppState" value="dev"/>
    <add key="UseSSL" value="true"/>
    <!--<add key="AppState" value="test"/>
    <add key="AppState" value="live"/>-->
    <add key="RemoteServiceUrl_Dev" value="http://localhost:3337"/>
    <add key="RemoteServiceUrl_Test" value="http://localhost:4447"/>
    <add key="RemoteServiceUrl_Live" value="http://localhost:5557"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
